{% extends 'base.html' %}

{% block title %}Leaderboard | {% endblock %}

{% block content %}
{% load static %}
<div class="container pb-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="mask">
                <div class=" text-center">
                    <h1 class="mb-3 display-1 fw-bold text-uppercase">ye top 10 <br/>Champions</h1>
                </div>

                <table class="table fw-bold table-hover table-sm" style="border-color:black; border:5px;">
                    <thead>
                    <tr>
                        <th scope="col">POS</th>
                        <th scope="col">PLAYER</th>
                        <th scope="col">TO PAR</th>
                        <th scope="col">TOTAL</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in leaderboard|slice:"10" %}
                    <tr>
                        <th scope="row">{{ player.count }}</th>
                        <td>{{ player.user__first_name }} {{ player.user__last_name}}</td>
                        <td>{{ player.total_par }}</td>
                        <td>{{ player.total_score }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 d-flex align-items-end">
            <img class="w-100 my-3 mr-lg-3" src="{% static 'PutPutApp/images/royalty.svg' %}" alt="medieval royalty">
        </div>
    </div>
</div>
{% endblock %}
