{% extends 'base.html' %}

{% block title %}Scorecard | {% endblock %}

{% block content %}

<div class="container mt-5 pb-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="mask">
		    <form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit">
		    </form>

                <div class=" text-center">
                <h1 class="medieval display-1 fw-bold">Scorecard</h1>
		<h2 class="mb-5">Total: {{ total_score }}</h2>

                    <div class="row">


{% for score in scores %}

                        <div class="col m-lg-3 my-3">

                            <div class="card h-100">
							<span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
								Hole {{ score.hole }} 
							</span>
							<div class="card-body">
								<h2 class="h5 card-title">{{ score.num_strokes }}</h2>
							</div>

						</div>

                        </div>
{% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
