
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8"/> 
		<title>Manage Menu</title> 
		</head> 

		<body>
			<h1>Current Drinks</h1> 	

		{% for drink in drink_menu %} 	

		<br>
		<div style="background-color:lightblue">
		<h3>{{ drink.name }}</h3> 	
		<h4>{{ drink.cost }}</h4> 	
		<h4> {{ drink.description}} </h4> 	
		</div>

		{% endfor %}


		<h1> Add a new drink </h1>

		<form action="/managemenu/" method="post">
			{% csrf_token %}
			{{ form }}
			<input value="Add Drink" input type="submit">
		</form>


		</body>
</html>


