{% extends 'base.html' %}
{% load static %}


{% block title %}Menu | Tavern | {% endblock %}
{% block content %}

<div class="container pb-5">
                                {% if order_placed %}
        <div class="row">
                <div class="col-lg-8">
                        <div class="mask">
                                        <div>
                                                <h3> Thank you for your order!</h3>
                                            </div>
                        </div>
                </div>
        </div>
                                        {% endif %}

        <div class="row">
                <div class="col-lg-8">
                        <div class="mask">

                                        {% if error %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                                <br>
                                                <a href="/deposit/">Manage Wallet</a>
                                            </div>
                                        {% endif %}
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-lg-8">
            <div class="mask">
                <h1 class="py-3 fw-bold text-center display-1 text-uppercase">Mulligan's <br/>Tavern</h1>
                <div class="row row-cols-1 row-cols-md-4 g-4 mt-3">
                    {% for drink in drink_menu %}
                    <div class="col">
                        <div class="card h-100">
							<span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">
								${{ drink.cost }}
								<span class="visually-hidden">cost</span>
							</span>
                           <div class="card-body">
                                <h3 class="h5 card-title">{{ drink.name }}</h3>
                                <p class="card-text">{{ drink.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2">
            <div class="mask">
                {#% if user.is_authenticated %#}
                {#% if user.is_player %#}

                                {% if order_placed %}
        <div class="row">
                <div class="col-lg-8">
                        <div class="mask">
                                        <div>
                                                <h3> Thank you for your order!</h3>
                                            </div>
                        </div>
                </div>
        </div>
                                        {% endif %}

        <div class="row">
                <div class="col-lg-8">
                        <div class="mask">

                                        {% if error %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                                <br>
                                                <a href="/deposit/">Manage Wallet</a>
                                            </div>
                                        {% endif %}
			</div>
		</div>
	</div>

                <!-- TODO: integrate order form -->
                <h2 class="fw-bold display-5 text-center">Order A Drink</h2>
                <form action="/menu/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input value="Order Drink" input type="submit">
                </form>

                <!-- <button class="btn px-5 btn-primary border-2 btn-lg mx-auto shadow w-100" href="#" target="_blank" role="button">Order</button> -->
                {#{ else if user.is_barkeep }#}
                <!-- TODO: display queue, make interactive and dynamic -->

                {#{ else if user.is_manager }#}
                <!-- TODO: display menu edit controls -->

                {#{ else }#}
                <!-- TODO: prompt user to login -->

                {#% endif %#}
                {#% endif %#}

                <!-- <div class="arrow-down mx-auto d-none d-lg-block"></div> -->
            </div>
            <img class="w-100 my-3 mr-lg-3" src="{% static 'PutPutApp/images/tavern.svg' %}" alt="medieval tavern">
        </div>
    </div>
</div>
{% endblock %}
