{% extends 'base.html' %}
{% load static %}


{% block title %}Menu | Tavern{% endblock %}

{% block background %}
{% static 'home.svg' %}
{% endblock %}

{% block content %}
<div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white" style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">

	<h1 class="display-1 font-weight-bold">Menu</h1>
	<p class="lead">Order a drink and have it brought to you on the course!</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 px-3">


					<form action="/menu/" method="post">
						{% csrf_token %}
						{{ form }}
						<input value="Order Drink" input type="submit">
					</form>


			{% for drink in drink_menu %}

			<br>
			<div style="background-color:lightblue">
				<h3>{{ drink.name }}</h3>
				<h4>{{ drink.cost }}</h4>
				<h4> {{ drink.description}} </h4>
			</div>

			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
