{% extends 'base.html' %}

{% block title %}Orders | Tavern{% endblock %}

{% block background %}
<!-- {% static 'tavern.svg' %} -->
{% endblock %}

{% block content %}

	<h1 class="display-1 fw-bold">Orders</h1>


<div class="container">
	<div class="row">
		<div class="col-12 px-3">

			{% for order in orders %}

			<br>
			<div style="background-color:lightblue">
				<h3>{{ order.name }}</h3>
				<h4>{{ order.drink }}</h4>
				<h4> {{ order.location}} </h4>
			</div>

			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
