{% extends 'base.html' %}

{% block content %}
<div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white" style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">

	<h1 class="display-1 font-weight-bold">Orders</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-12 px-3">

			{% for order in orders %}

			<br>
			<div style="background-color:lightblue">
				<h3>{{ order.name }}</h3>
				<h4>{{ order.drink }}</h4>
				<h4> {{ order.location}} </h4>
			</div>

			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
