body {
  /* background-image: url('images/mountains.png'); */
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
  background-color: rgba(255, 255, 255, 0.9);
}

h2 {
  margin-top: 15px;
}

.mask {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.card {
  transition: transform .1s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.medieval {
  font-family: 'MedievalSharp', cursive;
}

/* .arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #0d6efd;
} */
