body {
    /* Center and scale the image nicely */
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

nav {
  background-color: rgba(254, 255, 239, 0.9);
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
}

h2 {
  margin-top: 15px;
}

.mask {
  background-color: rgba(254, 255, 239, 0.5);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card {
  transition: transform .1s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
