  <nav class="navbar navbar-expand-lg navbar-light sticky-top fw-bold" style="">

    <div class="container">
      <!-- TODO: update image - Temporary Logo -->
      <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Letter_M%2C_drop_capital_illustration.png" alt="" style="height: 50px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'leaderboard' %}">Leaderboard</a>
          </li>
	  {% if user.profile.player %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'scorecard' %}">Scorecard</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="{#% url 'tavern' %#}">Tavern</a> -->
            <a class="nav-link active" aria-current="page" href="{% url 'menu' %}">Tavern</a>
          </li>
	  {% endif %}
	  {% if user.profile.barkeep %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'orders' %}">Orders</a>
	  {% endif %}
	  {% if user.profile.sponsor %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'sponsor' %}">Schedule Event</a>
	  {% endif %}
	  {% if user.profile.manager %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'manage_menu' %}">Manage Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'sponsor_requests' %}">Manage Events</a>
	  </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'manage_users' %}">Manage Users</a>
	  </li>
	  {% endif %}
         <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{#% url 'course' %#}">Course</a>
            <a class="nav-link active" aria-current="page" target="_blan" href="https://static.vecteezy.com/system/resources/previews/000/186/919/original/isometric-golf-course-illustration-vector.jpg">Course</a>
          </li> -->
        </ul>


        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown bg-none ms-auto">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{ user.first_name }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.profile.player %}
              <li class="text-center ">Player</li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item disabled" href="#">
                  <div class="d-flex flex-row justify-content-between disabled">
                    <div>
                      <!-- <i class="fas fa-wallet text-left"></i> -->
                      <p class="p-0 m-0">Wallet</p>
                    </div>
                    <div><span class="badge text-right rounded-pill bg-success">${{ user.profile.account_balance }}</span></div>
                  </div>
                </a>
              </li>
              <li><a class="dropdown-item" href="{% url 'scorecard' %}">
                  <div class="d-flex flex-row justify-content-between">
                    <div>
                      <!-- <i class="fas fa-trophy"></i> -->
                      <p class="p-0 m-0">Scorecard</p>
                    </div>
                    <!-- <div><span class="badge text-right rounded-pill bg-success">$ {# user.get_score (of current tourney) #} </span></div> -->
                    <div><span class="badge text-right rounded-pill bg-warning">#</span></div>
                  </div>
                </a>
              </li>
              <!-- <li><a class="dropdown-item" href="#"> 37 points</a></li> -->
              <li><a class="dropdown-item" href="{% url 'menu' %}">Order A Drink</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              {% if user.profile.barkeep %}
              <li class="text-center ">Barkeep</li>
              <li>
                <hr class="dropdown-divider">
              </li>
<!--              <li><a class="dropdown-item disabled" href="#">-->
<!--                  <div class="d-flex flex-row justify-content-between">-->
<!--                    <div>-->
<!--                      &lt;!&ndash; <i class="fas fa-clock"></i> &ndash;&gt;-->
<!--                      <p class="p-0 m-0">Clock In</p>-->
<!--                    </div>-->
<!--                    <div><span class="badge text-right rounded-pill bg-success">#</span></div>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
              <!-- <li><a class="dropdown-item" href="#">Clock In <TotalTime></a></li> -->
              <li><a class="dropdown-item" href="{% url 'orders' %}">
                  <div class="d-flex flex-row justify-content-between">
                    <div>
                      <!-- <i class="fas fa-trophy"></i> -->
                      <p class="p-0 m-0">Queue</p>
                    </div>
                    <div><span class="badge text-right rounded-pill bg-warning">#</span></div>
                  </div>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              {% if user.profile.sponsor %}
              <li class="text-center ">Sponsor</li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'sponsor' %}">Schedule Event</a></li>
              <!-- <li><a class="dropdown-item" href="#">Queue <NumItems></a></li> -->
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              {% if user.profile.manager %}
              <li class="text-center ">Manager</li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'manage_menu' %}">Edit Drink Menu</a></li>
              <li><a class="dropdown-item" href="{% url 'manage_users' %}">Change User Permissions</a></li>
              <li><a class="dropdown-item" href="{% url 'sponsor_requests' %}">Approve Tournaments</a></li>
	      <!-- <li><a class="dropdown-item" href="">Manage Users</a></li> -->
              <li>
                <hr class="dropdown-divider">
              </li>
              {% endif %}
              <li><a class="dropdown-item disabled" href="#">Account</a></li>
	      <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a class="btn btn-outline-primary px-4 shadow border-2" href="{% url 'login' %}">Login</a></li>
          <li><a class="btn btn-outline-primary px-4 shadow border-2" href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
        <hr class="d-none d-sm-block d-md-none">
      </div>
    </div>
  </nav>
