{% extends 'base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
<div class="container pb-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="mask">
        <div class="row">
          <div class="col-4 col-lg-3">
            <!-- TODO: update image - Temporary Logo -->
            {% load static %}
            <img class="w-100 mr-lg-3" src="{% static 'PutPutApp/images/favicon.png' %}" alt="Illuminated M">
          </div>
          <div class="col-8 col-lg-6">
            <h1 class="mb-3 display-1 fw-bold text-uppercase medieval">Medieval <br />Minigolf</h1>
          </div>
        </div>
         <p class="mb-3 lead">Welcome to Cache Valley's first interactive mini golf experience! As a Player, you can sign up for multiple sponsored tourneys, track your score, view your standing in a global leaderboard, and order drinks from the Barkeep in the Tavern. The tourney is overseen by a Manager who approves Sponsors and Barkeeps, decides when to end the tourney, and curates the Tavern's menu. The Barkeep tends a queue of drink orders and updates the drink status when an order is fulfilled.
        By offering this interactive mini golfing experience, Medieval Minigolf hopes to make the tournament more enjoyable and to provide you as a Player with more insight and convenience during the game. Register today!</p>
          <a class="btn btn-primary border-2 btn-lg shadow" href="{% url 'register' %}" role="button">Register</a>
      </div>
    </div>
    <div class="col-lg-4 d-flex align-items-end">
      <img class="w-100 my-3 mr-lg-3" src="{% static 'PutPutApp/images/golfer.svg' %}" alt="medieval golfer">
    </div>
  </div>
</div>
{% endblock %}
