{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block background %}
<!-- {% static 'home.svg' %} -->
{% endblock %}

{% block content %}
<!-- Hi, {{ user.username|default:'Guest' }}
<div>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a>

  <!-- consider having a login link if not logged in

{% endif %}
</div> -->

<div class="container mt-5 pb-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="mask p-5" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="row">
          <div class="col-lg-3">
            <!-- TODO: update image - Temporary Logo -->
            <img class="w-100 my-3 mr-lg-3" src="https://upload.wikimedia.org/wikipedia/commons/3/36/Letter_M%2C_drop_capital_illustration.png" alt="">
          </div>
          <div class="col-lg-6">
            <h1 class="mb-3 display-1 fw-bold text-uppercase">Medieval <br />Minigolf</h1>
          </div>
        </div>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="btn btn-outline-primary border-2 btn-lg shadow" href="{% url 'login' %}" target="_blank" role="button">Register</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 px-3">
      <div class="text-center">
        <h2>Calendar of Events</h2>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Nike Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/12/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Topgolf Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/15/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Old Spice Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/19/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">EA Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/23/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">USU Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/30/21</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <div class=" text-center">
        <h2>Leaderboard</h2>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">POS</th>
            <th scope="col">PLAYER</th>
            <th scope="col">TO PAR</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Selene Otto</td>
            <td>-4</td>
            <td>31</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>-3</td>
            <td>32</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tina Jones</td>
            <td>E</td>
            <td>35</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Paul Walker</td>
            <td>+6</td>
            <td>41</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Bruce Banner</td>
            <td>+8</td>
            <td>43</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Lance Elliot</td>
            <td>+11</td>
            <td>46</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Rylee Freud</td>
            <td>+13</td>
            <td>48</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Dwayne Johnson</td>
            <td>+15</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Paul Atreides</td>
            <td>+19</td>
            <td>54</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Barbara Holland</td>
            <td>+24</td>
            <td>59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
{% endblock %}
