{% extends 'base.html' %}

{% block content %}
Hi, {{ user.username|default:'Guest' }}
<div>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a>

  <!-- consider having a login link if not logged in -->

  {% endif %}
</div>

<!-- <div class="topnav">
<a class="active" href="#home">Home</a>
<a href="#news">News</a>
<a href="#contact">Contact</a>
<a href="#about">About</a>
</div> -->

<!-- Background image -->
<div class="bg-image p-5 text-center shadow-1-strong mb-5 text-white" style="background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');">
  <h1 class="display-1 font-weight-bold">Putt Putt Website</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 px-3">
      <div class="text-center">
        <h2>Calendar of Events</h2>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Nike Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/12/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Topgolf Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/15/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">Old Spice Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/19/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">EA Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/23/21</span></div>
          </div>
        </div>
      </div>
      <div class="card w-100 text-left onHoverFloat my-3">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="p-2">
              <h3 class="h5 card-title">USU Tournament</h3>
            </div>
            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
            <div class="p-2"><span class="badge bg-danger">11/30/21</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 text-center">
      <div class=" text-center">
        <h2>Leaderboard</h2>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">POS</th>
            <th scope="col">PLAYER</th>
            <th scope="col">TO PAR</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Selene Otto</td>
            <td>-4</td>
            <td>31</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>-3</td>
            <td>32</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Tina Jones</td>
            <td>E</td>
            <td>35</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Paul Walker</td>
            <td>+6</td>
            <td>41</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Bruce Banner</td>
            <td>+8</td>
            <td>43</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Lance Elliot</td>
            <td>+11</td>
            <td>46</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Rylee Freud</td>
            <td>+13</td>
            <td>48</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Dwayne Johnson</td>
            <td>+15</td>
            <td>50</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Paul Atreides</td>
            <td>+19</td>
            <td>54</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Barbara Holland</td>
            <td>+24</td>
            <td>59</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
