{% extends 'base.html' %}

{% block title %}Register | {% endblock %}

{% block content %}
<div class="container mt-5 pb-5">
    <div class="row">
        <div class="col-lg-8 order-2 order-lg-1 mb-3">
            <div class="mask">
                <h1 class="mb-3 display-2 text-center fw-bold text-uppercase">Schedule of <br/>Events</h1>
                {% for event in events %}
                <div class="card w-100 text-left onHoverFloat my-3">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-2">
                                <h3 class="h5 card-title">{{ event.tournament_name }}</h3>
                            </div>
                            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
                            <div class="p-2"><span class="badge bg-danger">{{ event.day }}</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2">
            <div class="mask">
                <h2 class="fw-bold display-5 text-center">Register</h2>
                <!-- Registration form -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Register">
                </form>
                <a class="btn btn-primary shadow mt-5 text-center" href="{% url 'login' %}" role="button">Returning
                    User</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
