{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register | {% endblock %}

{% block content %}
<div class="container pb-5">

{% if error %}
	<div class="row">
                <div class="col-lg-8">
                        <div class="mask">
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                                <br>
						<p>Sorry! Something went wrong</p>
						<p>We think we know the problem</p>
						<p>Try again using a less common password</p>
                                            </div>
			</div>
		</div>
	</div>
                                        {% endif %}

    <div class="row">
        <div class="col-lg-8 order-2 order-lg-1 mb-3">
            <div class="mask">
                <h1 class="mb-3 display-2 text-center fw-bold text-uppercase">Schedule of <br/>Events</h1>
                {% for event in events %}
                <div class="card w-100 text-left onHoverFloat my-3">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="p-2">
                                <h3 class="h5 card-title">{{ event.tournament_name }}</h3>
                            </div>
                            <div class="p-2"><a href="#" class="stretched-link" title="Register"></a></div>
                            <div class="p-2"><span class="badge bg-danger">{{ event.day }}</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2">
            <div class="mask">
                <h2 class="fw-bold display-5 text-center">Register</h2>
                <!-- Registration form -->
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        {{ form.username|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}
                    </div>
                    <button class="btn btn-primary shadow btn-lg" type="submit">Register</button>
                </form>
                <a class="btn btn-lg btn-outline-primary mt-3 text-center" href="{% url 'login' %}" role="button">Returning
                    User</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
