{% extends 'base.html' %}

{% block title %}Login | {% endblock %}

{% block content %}

<div class="container mt-5 pb-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="mask">
        <h1 class="mb-3 display-1 fw-bold text-uppercase">Login</h1>
        <form method="post">
          <!-- This is a basic placeholder login form -->
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Login">
        </form>
        <br>
        <a class="btn btn-primary border-2 btn-lg shadow m-3" href="{% url 'register' %}" role="button">Register</a>
        <a class="btn btn-primary border-2 btn-lg shadow m-3" href="{% url 'dashboard' %}" role="button">Home</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
